.desHead{
    text-align: center;
    background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
  border-radius: 20px;
}

.desImg{
    width: 100%;
    height: 40%;
}

.detailsItem{
    overflow: auto;
}