.entity-row:hover{
    color: black;
   background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.entity-row{
    overflow: auto;
}

.entity-row ::-webkit-scrollbar{
    display: none;
    background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
}

.bg-Selected{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.nameAndEmail{
    overflow: auto;
}

.msgBx >div ul{
    height: 95%;
    overflow: auto;
}
.msgBx >div ul ::-webkit-scrollbar{
   display: none;
}