/* MessagePage.css */
.chatlist2 {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 0.75rem;
    padding: 1rem;
    overflow-y: auto;
    height: 100%;
  }
  
  .allmessages {
    flex: 1;
    overflow-y: auto;
    margin: 1rem 0;
  }
  
  .sendMsg {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  
  .msgInput {
    flex: 1;
    /* padding: 0.75rem; */
    /* border: 1px solid #ccc; */
    border-radius: 0.5rem;
  }
  .file-preview {
    background: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
  }
  